@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>PizzasMama</title>
</head>
<body class="homePage">

    <div class="centered">
        <img src="~/images/main_logo.png"/>
        <a class="homePage" asp-page="MenuPizzas">Voir le menu</a>
    </div>


</body>
</html>


